*.pyc
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.DS_Store
db.sqlite3
db.sqlite3-journal
migrations
venv
dist
*.egg-info
/build
/__temp
*.log
log/
logs/
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
selenium-debug.log