*.pyc
.idea
*/.idea
**/.idea
.DS_Store
*/.DS_Store
**/.DS_Store
db.sqlite3
*/db.sqlite3
**/db.sqlite3
db.sqlite3-journal
*/db.sqlite3-journal
**/db.sqlite3-journal
*/migrations
**/migrations
venv
dist
*.egg-info
build
*.log
log/
logs/
